.board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 5px;
}

.disabled {
    pointer-events: none;
    filter: brightness(0.9);
}

.square {
    width: 100px;
    height: 100px;
    background-color: #ebcbcb;
    cursor: pointer;
}

.square:hover {
    background-color: #f0f0f0;
}
  
.square.filled {
    cursor: not-allowed;
}
  
.square.filled:hover {
    background-color: #fff;
} 

.square-text {
    font-size: 2rem;
    font-weight: bold;
}

